@charset "EUC-KR";

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#9873E2; 
}

li{
	float:left;
	display: inline;
	
}
li a{
	display: block;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #6A48AF;
}

header{
	font-size: 15px;
	
}